<!-- Footer -->

<footer class="footer-content">
  <section class="footer-icon display-none-mobile text-align-center margin-zero-mobile margin-left">
    <a href="index.html"
      ><img src="img/logo_small-weiß.png" alt="Kochwelt-Logo-Footer" />
      <p>© 2024 Kochwelt</p></a
    >
  </section>

  <section class="footer-links text-align-center">
    <a href="contact.html">KONTAKT</a>
    <div class="display-none-mobile">|</div>
    <a href="imprint.html">IMPRESSUM</a>
    <div class="display-none-mobile">|</div>
    <a href="data-protection.html">DATENSCHUTZ</a>
  </section>

  <section class="footer-socialMedia text-align-center margin-zero-mobile margin-right">
    <a target="_blank" href="http://facebook.com"> <img src="img/icons/facebook-weiß.png" alt="Facebook" /></a>

    <a target="_blank" href="http://instagram.com"> <img src="img/icons/insta-weiß.png" alt="Instagramm" /></a>

    <a target="_blank" href="http://twitter.com"> <img src="img/icons/twitter-weiß.png" alt="Twitter" /></a>
  </section>
</footer>
