<!-- Header -->
<script src="script/script-header.js"></script>

<section>
  <header class="header">
    <div class="header-icon margin-left">
      <a href="index.html">
        <img src="img/logo.png" alt="Kochwelt_Logo" />
      </a>
    </div>

    <nav id="menu-responsive" class="navBar margin-right hide-mobile navBar-mobile-view">
      <ul>
        <li class="navLink"><a href="index.html">Start</a></li>
        <li class="navLink"><a href="recipe-of-the-day.html">Rezept des Tages</a></li>
        <li class="navLink"><a href="contact.html">Kontakt</a></li>
        <li class="navLink"><a href="imprint.html">Impressum</a></li>
      </ul>
    </nav>

    <div onclick="showMenu()" class="hamburger-menu show-mobile">
      <div id="hamburger-icon-toggle" class="hamburger-icon margin-right">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </header>
</section>
